html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2b2c;
    display: flex;
    flex-direction: column;
}
.top-menu {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    height: 50px;
    width: auto;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

.links a:hover {
    color: #242424;
}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.login-btn {
    background-color: #272727;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #252525;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 75px;
}
.subtexto{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 19px;
    margin-top: -15px;
}
.Historia {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background-color: #3a3b3c;
    margin-top: 40px;
}

.Historia img {
    flex-shrink: 0;
    margin-top:5px;
}

.historia-texto {
    flex: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.historia-texto h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
}

.historia-texto p {
    line-height: 1.6;
    font-size: 16px;
}

.restauranteimg {
    padding-right: 10px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 400px;
    height: auto;
}



.Historia2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background-color: #3a3b3c;
    margin-top: 40px;
}

.Historia2 h2 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Historia2 img {
    flex-shrink: 0;
    margin-top: 5px;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.historia-texto2 {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.historia-texto2 p {
    line-height: 1.6;
    font-size: 16px;
    margin-top: 0;
}

.restauranteimg {
    padding-right: 10px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 400px;
    height: auto;
}