<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/logar.css">
</head>
<body>
     <header class="top-menu">
        <img src="../img/logo.png" alt="logo" class="logo">
        <nav class="links">
            <a href="index.html">MENU</a>
            <a href="cardapio.html">CARDAPIO </a>
            <a href="entrega.html">ENTREGA</a>
            <a href="avaliação.html">AVALIAÇÃO</a>
        </nav>
        <a href="login.html" class="login-btn">Login</a>
    </header>
    <div class="container-cadastro">
    <form class="Formulario">
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br><br>

        <input type="submit" value="Login">      

    </form>
</body>
</html>