<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>LOGIN</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <header class="top-menu">
        <img src="../img/logo.png" alt="logo" class="logo">
        <nav class="links">
            <a href="index.html">MENU</a>
            <a href="cardapio.html">CARDAPIO</a>
            <a href="entrega.html">ENTREGA</a>
            <a href="avaliação.html">AVALIAÇÃO</a>
        </nav>
        <button class="login-btn">Login</button>
    </header>
    <div class="container">
        <div class="EsquerdaPart">
            <div class="texto">
                <h1>Faça login ou registre-se</h1>
                <p>Faça login com seu e-mail se ja tiver 
                    <br>uma conta. Se não tiver, cadastre-se aqui!</p>
            </div>
            <div class="botoes">
                <button onclick="location.href='logar.html'">Login.....</button>
            </div>
            <div class="botoes">
                <button onclick="location.href='cadastro.html'">Registrar</button>
            </div>
        </div>
        <div class="DireitaPart">
            <img src="../img/imagemlogin1.png" alt="Login Image">
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Burguesa Burguers. Todos os direitos reservados.</p>
    </footer>
</body>
</html>